/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root{
    --nav-text-color:black;
    --nav-bg-color: var(--footer-bg-color);
    --footer-text-color: black;
    --footer-bg-color: rgb(233, 231, 123);
}

nav{
    display: flex;
    color: var(--nav-text-color);
    background-color: var(--nav-bg-color);
    text-shadow: 1px 1px 1px white;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.game-menu{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#winner{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.game{
    justify-content: center;
    display: flex;
    
}
.game-grid{
    margin-top: 100px;
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    border: 1px solid black;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}
.cell{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
}
.cell:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.cell h1{
    font-size: 5rem;
}


dialog {
    justify-self: center;
    align-self: center;
    background-color: #ECE8EF;   
}

.dialog-container{
    display: grid;
}

.dialog-buttons {
    justify-content: space-between;
}

.row-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.player-name input{
    width:75%;
}
.row-buttons input{
    width: 30%;
}



/* Use all this as a footer */
footer {
    margin-top: 50px;
    /* background-color: var(--navbar-bg-color); */
}

#theodinproject {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-radio {
    justify-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--footer-bg-color);
    backdrop-filter: blur(5px);
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
footer a{
    color: var(--footer-text-color);
}
a:link {
    text-decoration: none;
    
}

a:visited {
    text-decoration: none;
}

a:hover {
    color:aqua;
}

#link img {
    width: 50px;
    height: auto;
}

/* Use all this as a footer */
